@charset "UTF-8";
.main-page {
  background-repeat: no-repeat;
}

.carousel-wrapper {
  position: relative;
  width: 1000px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 30px;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-track a {
  flex: 0 0 700px; /* 한 이미지 크기 */
  margin-right: 40px; /* 다음 이미지 살짝 보이게 */
  display: block;
}

.carousel-track img {
  width: 700px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 20px;
}

.carousel-btn {
  background-color: #eee; /* 배경 하얀색 */
  color: black;            /* 글자색 검정 (대비 위해) */
  width: 50px;             /* 가로 세로 같게 */
  height: 50px;
  padding: 0;              /* 내부 여백 제거 */
  border-radius: 50%;      /* 정확한 원 */
  font-size: 30px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;           /* 중앙 정렬용 */
  justify-content: center; /* 중앙 정렬용 */
  align-items: center;     /* 중앙 정렬용 */
}

.carousel-btn.left {
  left: 20px;
}

.carousel-btn.right {
  right: 20px;
}

.tour-wrapper {
  display: flex;          /* 가로 정렬 */
  justify-content: flex-start;
  align-items: flex-start; /* 위쪽 정렬 */
  gap: 20px;              /* 요소 사이 간격 */
  margin-bottom: 150px;
}

.tour-column {
  display: flex;
  width: 100%;
  flex-direction: column; /* 세로 정렬 */
  align-items: flex-end; 
  margin-right: 20px;
}

.t-main-img {
  border-radius: 10px;
  width: 600px; 
  height: 500px;
  object-fit: cover;
}

.t-sub-img {
  display: flex;
  border-radius: 10px;
  width: 350px; 
  height: 230px;
  margin-top: 10px;
  object-fit: cover;
}

.t-sub-img-row {
  display: flex;              /* 가로 정렬 */
  gap: 20px;                  /* 이미지 간 간격 */
  margin-top: 10px;
}

.festival-wrapper {
  display: flex;          /* 가로 정렬 */
  justify-content: flex-start;
  align-items: flex-start; /* 위쪽 정렬 */
  gap: 20px;              /* 요소 사이 간격 */
  margin-bottom: 150px;
}

.festival-column {
  display: flex;
  width: 100%;
  flex-direction: column; /* 세로 정렬 */
  align-items: flex-start; 
  margin-left: 20px;
}

.f-main-img {
  border-radius: 10px;
  width: 600px; 
  height: 500px;
  object-fit: cover;
}

.f-sub-img {
  display: flex;
  border-radius: 10px;
  width: 300px; 
  height: 420px;
  margin-top: 10px;
  object-fit: cover;
}

.f-sub-img-row {
  display: flex;              /* 가로 정렬 */
  gap: 20px;                  /* 이미지 간 간격 */
  margin-top: 10px;
}

.notice-wrapper {
  margin-left: 20px;
  margin-bottom: 20px;
}

h3 {
  font-size: 40px;
}