<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.mapper.CommentMapper">
    
    <sql id="commentWhere">
        <where>
            <if test="searchDiv !='' ">
                <choose>
                    <when test="searchDiv == '10'">
                        user_id LIKE #{searchWord} || '%'
                    </when>
                    <when test="searchDiv == '20'">
                        target_no LIKE #{searchWord} || '%'
                    </when>
                    <when test="searchDiv == '30'">
                        table_name LIKE #{searchWord} || '%'
                    </when>
                </choose>                           
            </if>
        </where>
    </sql>
    
    <select id="doRetrieve" parameterType="SearchDTO" resultType="CommentDTO">
    SELECT A.*, B.*
    FROM (
        SELECT tt3.RNUM AS no,
               tt3.com_no,
               tt3.user_id,
               tt3.contents,
               tt3.target_no,
               tt3.table_name,
               TO_CHAR(tt3.reg_date, 'YYYY/MM/DD HH24:MI:SS') AS reg_dt,
               TO_CHAR(tt3.mod_date, 'YYYY/MM/DD HH24:MI:SS') AS mod_dt
        FROM (
            SELECT ROWNUM AS RNUM, tt2.*
            FROM (
                SELECT t1.*
                FROM comments t1
                <include refid="commentWhere"/>
                ORDER BY t1.reg_date DESC
            ) tt2
            <![CDATA[
            WHERE ROWNUM <= (#{pageSize} * (#{pageNo} - 1) + #{pageSize})
        ) tt3
        WHERE RNUM >= (#{pageSize} * (#{pageNo} - 1) + 1)]]>
    ) A
    CROSS JOIN (
        SELECT COUNT(*) AS total_cnt
        FROM comments
        <include refid="commentWhere"/>
    ) B
</select>
    
    <insert id="doSave" parameterType="CommentDTO">
        INSERT INTO comments (
        com_no,
        user_id,
        contents,
        target_no,
        table_name,
        reg_date,
        mod_date
        ) VALUES ( 
           #{comNo},
           #{userId},
           #{contents},
           #{targetNo},
           #{tableName},
           SYSDATE,
           SYSDATE )
    </insert>

    <delete id="doDelete" parameterType="CommentDTO">
        DELETE FROM comments
         WHERE
        com_no = #{comNo}
    </delete>
    
    <update id="doUpdate" parameterType="CommentDTO">
        UPDATE comments
        SET
            contents   = #{contents},
            mod_date   = SYSDATE
        WHERE
            com_no = #{comNo}
        
    </update>
    
    <select id="doSelectOne" parameterType="CommentDTO" resultMap="commentMap">
        SELECT
		    com_no,
		    user_id,
		    contents,
		    target_no,
		    table_name,
		    TO_CHAR(reg_date, 'YYYY/MM/DD HH24:MI:SS') AS regDt,
            TO_CHAR(mod_date, 'YYYY/MM/DD HH24:MI:SS') AS modDt
		FROM
		    comments
		WHERE com_no = #{comNo}
    </select>
    
    <select id="getCount" resultType="java.lang.Integer">
        SELECT count(*) AS totalCnt FROM comments
    </select>
    
    <delete id="deleteAll">
        DELETE FROM comments
    </delete>
    
    <select id="getAll" resultType="CommentDTO">
        SELECT
            com_no,
            user_id,
            contents,
            target_no,
            table_name,
            TO_CHAR(reg_date, 'YYYY/MM/DD HH24:MI:SS') AS regDt,
            TO_CHAR(mod_date, 'YYYY/MM/DD HH24:MI:SS') AS modDt
        FROM
            comments;
        FROM comments
        ORDER BY com_no
    </select>
    
    <!-- id PK또는 고유값에 해당 합니다. -->
    <resultMap type="CommentDTO" id="commentMap">
        <id column="com_no" property="comNo"/>
        <result column="user_id" property="userId"/>
        <result column="contents" property="contents"/>
        <result column="target_no" property="targetNo"/>
        <result column="table_name" property="tableName"/>
        <result column="regDt" property="regDt"/>
        <result column="modDt" property="modDt"/>
    </resultMap>
    
</mapper>