    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #fdfdfd;
    }
        .header {
        background-color: #FDD7DD;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav {
        display: flex;
        gap: 20px;
        font-weight: bold;
    }

    .nav a {
        align-items: center;
        text-decoration: none;
        color: #000;
    }

    .login {
        font-size: 14px;
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }

    .container {
        max-width: 800px;
        margin: 40px auto;
        padding: 30px;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 12px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }
    h1 {
      text-align: center;
      margin-bottom: 30px;
    }
    h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    .image-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 30px;
    }
  
    .image-wrapper img {
        width: 480px;
        height: 360px;
        object-fit: cover;
        border-radius: 8px;
        border: 1px solid #ccc;
    }

    .info-group {
        margin-bottom: 20px;
    }

    .info-group h3 {
        margin-bottom: 6px;
        font-size: 16px;
        color: #333;
    }

    .info-group p {
        margin: 0;
        font-size: 15px;
        padding: 8px 12px;
        background-color: #f7f7f7;
        border: 1px solid #ccc;
        border-radius: 6px;
    }

    .btn-group {
        text-align: center;
        margin-top: 30px;
    }

    .btn-group button {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        font-size: 15px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        margin: 0 10px;
    }

    .btn-group button:hover {
        background-color: #0056b3;
    }
    .favorite-group{
        float:right;
    }
    
    .favorite-group img{
        width:30px;
        height:30px;
    }