@charset "UTF-8";
footer {
  position: relative;
  display: flex;
  align-items: center;
  transform: translateY(0%);
  background-color: #eee;
  height: 100px;
  overflow: hidden;
  white-space: nowrap;
  }
footer .team {
  position: relative;
  margin-left: 1600px;
  font-size: 25px;
}

footer img {
  width: 170px;
}