<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.mapper.FavoritesMapper">

<!-- 해당 관광지 즐겨찾기 개수 -->
<select id="getTourFavoriteCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
select count(*)
    from favorites
where table_name= 'TOUR' 
and target_no = #{targetNo}
</select>

<!-- 해당 축제 즐겨찾기 개수 -->
<select id="getFestaFavoriteCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
select count(*)
    from favorites
where table_name= 'festival' 
and target_no = #{targetNo}
</select>

<!-- 즐겨찾기한 관광지 목록 조회 -->
<select id="getFavoriteTour" parameterType="string" resultType="TourDTO">
    SELECT
        t.*
        i.image_url
    FROM favorites f
    JOIN tour t ON f.target_no = t.tour_no
    LEFT JOIN image i ON t.tour_no = i.target_no AND i.table_name = 'tour'
    WHERE f.user_id = #{userId}
      AND f.table_name = 'tour'
</select>

<!-- 즐겨찾기한 축제 목록 조회 -->
<select id="getFavoriteFestival" parameterType="string" resultMap="festivalWithImageMap">
    SELECT
        f2.festa_no,
        f2.name,
        f2.subtitle,
        f2.contents,
        f2.views,
        f2.address,
        f2.tel,
        f2.fee,
        f2.region_no,
        f2.start_date,
        f2.end_date,
        
        i.image_id       AS image_image_id,
        i.save_name      AS image_save_name,
        i.image_url      AS image_image_url,
        i.table_name     AS image_table_name,
        i.target_no      AS image_target_no,
        i.image_name     AS image_image_name,
        i.reg_date       AS image_reg_date
        
    FROM favorites f
    JOIN festival f2 ON f.target_no = f2.festa_no
    LEFT JOIN image i ON f2.festa_no = i.target_no AND i.table_name = 'festival'
    WHERE f.user_id = #{userId}
      AND f.table_name = 'festival'
</select>

<select id="getTourCount" resultType="java.lang.Integer">
	SELECT COUNT(*) FROM favorites
	WHERE user_id = #{userId}
		AND table_name = 'tour'
</select>

<select id="getFestaCount" resultType="java.lang.Integer">
	SELECT COUNT(*) FROM favorites
	WHERE user_id = #{userId}
		AND table_name = 'festival'
</select>

<delete id="deleteAll">
    DELETE FROM favorites
</delete>

<select id="doSelectOne" parameterType="FavoritesDTO" resultMap="favoritesMap">
	SELECT *
		FROM favorites
	 WHERE user_id = #{userId}
		AND target_no = #{targetNo}
		AND table_name = #{tableName}
</select>


<insert id="doSave" parameterType="FavoritesDTO">
    <selectKey keyProperty="favNo" resultType="int" order="BEFORE">
            SELECT fav_no_seq.NEXTVAL FROM dual
    </selectKey>
    INSERT INTO favorites VALUES(fav_no_seq.nextval,#{userId},#{targetNo},#{tableName})
</insert>


<delete id="doDelete" parameterType="FavoritesDTO" >
	DELETE FROM favorites
	WHERE user_id = #{userId}
	AND target_no = #{targetNo}
	AND table_name = #{tableName}
</delete>

<select id="getCount" resultType="java.lang.Integer">
    SELECT count(*) AS totalCnt FROM favorites
</select>

<resultMap type="FavoritesDTO" id="favoritesMap">
    <id column="fav_no" property="favNo"/>
    <result column="user_id" property="userId"/>
    <result column="target_no" property="targetNo"/>
    <result column="table_name" property="tableName"/>
</resultMap>

<resultMap id="festivalWithImageMap" type="FestivalDTO">
    <result property="festaNo" column="festa_no"/>
    <result property="name" column="name"/>
    <result property="subtitle" column="subtitle"/>
    <result property="contents" column="contents"/>
    <result property="views" column="views"/>
    <result property="address" column="address"/>
    <result property="tel" column="tel"/>
    <result property="fee" column="fee"/>
    <result property="regionNo" column="region_no"/>
    <result property="startDate" column="start_date"/>
    <result property="endDate" column="end_date"/>

    <association property="image" javaType="ImageDTO">
        <result property="imageId" column="image_image_id"/>
        <result property="targetNo" column="image_target_no"/>
        <result property="tableName" column="image_table_name"/>
        <result property="imageName" column="image_image_name"/>
        <result property="imageUrl" column="image_image_url"/>
        <result property="saveName" column="image_save_name"/>
        <result property="regDate" column="image_reg_date"/>
    </association>
</resultMap>
</mapper>